html,
body {
  margin: 1px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 30px;
  justify-content: space-between;
  font-size: 25px;
  border-bottom: 1px solid black;
}

.header div {
  display: flex;
  align-items: center;
  margin: 2px;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 570px;
}

.view div:first-child {
  padding: 5px;
}

#join-room #opened-room-list select {
  min-width: 30%;
  max-width: 100%;
}

#chatroom #chatroom-content #room-name {
  margin: 0;
}

#chatroom #chatroom-content #chat-list {
  height: 430px;
  border: 1px solid black;
}

#chatroom #chatroom-content #chat-list ul {
  height: 430px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#chatroom #chatroom-content #chat-list ul li {
  margin-top: 2px;
}

#chatroom #chatroom-content #chat-list ul .chat {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#chatroom #chatroom-content #chat-list ul .chat div {
  padding: 0;
}

#chatroom #chatroom-content #chat-list ul .chat .chat-content {
  display: flex;
}

#chatroom #chatroom-content #chat-list ul .chat .chat-content .chat-user {
  padding-right: 3px;
}

#chatroom #chatroom-content #chat-list ul .chat .chat-content .chat-text {
  flex-grow: 1;
}

#chatroom #chatroom-content #chat-list ul .chat .chat-timestamp {
  flex-basis: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 0.8rem;
  font-style: italic;
  color: gray;
}

#chatroom #chatroom-content #chat-list ul .admin-message {
  text-align: center;
  color: red;
}

.input {
  width: 100%;
  height: 100px;
}

.input form {
  width: 100%;
  height: 100%;
  display: flex;
}

.input form input {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid black;
  padding: 5px;
}

.input form button {
  width: 100px;
  flex-shrink: 0;
  border: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
