doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="public/css/style.css")
    script(src="socket.io/socket.io.js")
    title 1-on-1 Private Video Call
  body 
    main
      div#welcome
        h1 1:1 Private Video Call
        h3 Enter nickname and room name to start 
        form
          div 
            span Nickname: 
            input#nickname(placeholder="nickname", required, type="text", maxlength='15')
          div
            span Room:
            input#room-name(placeholder="room name", required, type="text")
          button Join Room
        div#wait-approval.alert
          span#wait-message
        div#declined-request.alert
          span#decline-message
      div#call
        div#call-content
          div#myStream
            video#myVideo(autoPlay, playsinline, width="400", height="400")
            button#mute Mute
            button#camera Turn Camera Off
            select#camera-selection
          div#peerStream
            video#peerVideo(autoPlay, playsinline, width="400", height="400")
          div#control
            button#hang-up Hang up
        div.modal-overlay
          div#confirm-join.modal
            span#modal-title
            span Want to approve the user to join the chat?
            button#approve Approve
            button#decline Decline
          div#disconnected-peer.modal
            span Remote peer disconnected.
            span Do you want to leave the room or wait for the other peer to join?
            button#leave-room Leave room
            button#stay-room Stay
    script(async src="public/js/app.js")