doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="/socket.io/socket.io.js")
    title Zoom Clone 
  body 
    header 
      h1 Zoom Clone
      h4
    main
      div#nickname
        form
          input(placeholder="nickname", required, type="text")
          button Save
      div#join-room
        div#opened-room-list
          h3 Opened Room List
          ul
        form#enter-room
          // Join room when the room exists, otherwise create and join
          input(placeholder="room name", required, type="text")
          button Enter Room
        form#change-nickname
          button Change Nickname
      div#chatroom
        h3
        ul
        form#message
          input(placeholder="message", required, type="text")
          button Send
        form#exit
          button Exit Room
    script(async src="public/js/app.js")