doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="public/css/style.css")
    script(src="/socket.io/socket.io.js")
    title Open Chat
  body 
    main
      div.header#toolbox
        div#exit-room
          <i class="fas fa-arrow-alt-circle-left"></i>
        div#logout
          <i class="fas fa-door-open"></i>
      div.view#login
        div#greeting
          h1 Welcome to Open Chat
          h3 Enter Your Nickname
        div.input
          form
            input(placeholder="nickname", required, type="text")
            button Login
      div.view#join-room
        div#opened-room-list
          h1 Choose a Room to Enter
          h3 Opened Room List
          select(size='20')
        div.input
          form
            // Join room when the room exists, otherwise create and join
            input(placeholder="room name", required, type="text")
            button Enter
      div.view#chatroom
        div#chatroom-content
          h2#room-name asd
          div#chat-list
            ul
        div.input
          form
            input(placeholder="message", required, type="text")
            button Send
    script(async src="public/js/app.js")