doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="public/css/style.css")
    script(src="/socket.io/socket.io.js")
    title Open Chat
  body 
    main
      div.header#toolbox
        div#exit-room
          <i class="fas fa-arrow-alt-circle-left"></i>
        div#logout
          <i class="fas fa-door-open"></i>
      div.view#login
        div#greeting
          h1 Welcome to Open Chat
          h3 Enter Your Nickname (Max 10 characters)
        div.input
          form
            input(placeholder="nickname", required, maxlength='10', type="text")
            button Login
      div.view#join-room
        div#opened-room-list
          h1 Choose a Room to Enter
          h4 If you want to create new room, just type new room name (Max 20 characters).
          h3 Opened Room List
          select(name='public-rooms', size='15')
        div.input
          form
            // Join room when the room exists, otherwise create and join
            input(placeholder="room name", required, maxlength='20', type="text")
            button Enter
      div.view#chatroom
        div#chatroom-content
          h2#room-name Room: (0)
          div#chat-list
            ul
              //- <!-- Sample data -->
              //- li.chat
              //-   div.chat-content 
              //-     span.chat-user user1:
              //-     span.chat-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut quam vel dolor vehicula porttitor ut eu lectus. Aenean at elit lacus. In vel urna.
              //-   div.chat-timestamp
              //-     span 10/25/2022 22:45
              //- li.admin-message 
              //-   span user1 left
              //- li.chat
              //-   div.chat-content 
              //-     span.chat-user user2:
              //-     span.chat-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut quam vel dolor vehicula porttitor ut eu lectus. Aenean at elit lacus. In vel urna.
              //-   div.chat-timestamp
              //-     span 10/25/2022 22:50
        div.input
          form
            textarea(placeholder="message", required)
            button Send
    script(async src="public/js/app.js")