html,
body {
  margin: 1px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#welcome {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome h1,
h3 {
  margin: 0;
}

#welcome h1 {
  font-size: 7vw;
  margin-bottom: 1rem;
  white-space: nowrap;
  text-align: center;
}
#welcome h3 {
  font-size: 4.8vw;
  font-weight: 500;
  margin-bottom: 1rem;
  white-space: nowrap;
}
/* Change greeting font-size dynamically */
@media screen and (min-width: 360px) {
  #welcome h1 {
    font-size: 5.5vw;
  }
  #welcome h3 {
    font-size: 3.7716vw;
  }
}
@media screen and (min-width: 500px) {
  #welcome h1 {
    font-size: 4vw;
  }
  #welcome h3 {
    font-size: 2.743vw;
  }
}
@media screen and (min-width: 700px) {
  #welcome h1 {
    font-size: 1.75rem;
  }
  #welcome h3 {
    font-size: 1.2rem;
  }
}

#welcome form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.75rem;
  margin-bottom: 0.2rem;
  background-color: rgb(231, 231, 231);
}

#welcome form div {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

#welcome form div span {
  margin-top: 3px;
  width: 4.4rem;
  flex-grow: 0;
  flex-shrink: 0;
}

#welcome form div input {
  flex-basis: 7rem;
  flex-grow: 1;
  border: 1px solid black;
}

#welcome form button {
  min-width: 10rem;
  max-width: 15rem;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
  margin-top: 0.2rem;
  border: 1px solid rgb(76, 60, 177);
  border-radius: 5px;
  background-color: slateblue;
  font-weight: 700;
  font-size: 0.85rem;
  color: white;
  height: 1.5rem;
}

#welcome #alert {
  align-self: center;
  background-color: rgb(255, 138, 101);
  height: 1.5rem;
  width: 100%;
  text-align: center;
  border: 1px solid rgb(240, 111, 71);
  border-radius: 5px;
  display: none;
}

#welcome #alert span {
  height: 1.5rem;
  font-weight: 700;
  font-size: 0.85rem;
  color: white;
}

#call #call-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#call #call-content #stream-wrapper {
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
}

#call #call-content #control {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  background: rgb(240, 240, 240);
  height: 50px;
}

#call #call-content #control div:first-child {
  grid-column-start: 2;
}

#call #call-content #control #chat-button {
  margin-left: auto;
}

#call #call-content #control button,
select {
  margin: 0;
  height: 40px;
}

#call #call-content #control button {
  width: 40px;
  border-radius: 50%;
  background-color: slateblue;
  border: 0;
  color: white;
}

#call #call-content #control #camera-selection {
  margin-right: 5px;
}

#call .modal-overlay,
.modal {
  display: none;
}

#call .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(131, 131, 131, 0.185);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rbga(255, 255, 255, 0.18);
}

#call .modal {
  background: rgba(144, 130, 235, 0.555);
  box-shadow: 0 8px 32px 0 rgba(131, 131, 131, 0.185);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 250px;
  border: 1px solid rbga(255, 255, 255, 0.18);
  position: relative;
  padding: 10px;
  flex-direction: column;
}

#call .modal span,
button {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

#call .modal span:first-child {
  font-size: 1rem;
}

#call .modal button {
  border: 1px solid rgb(76, 60, 177);
  border-radius: 5px;
  background-color: slateblue;
  font-weight: 700;
  font-size: 0.85rem;
  color: white;
  height: 1.5rem;
}

#call .modal button#leave-room,
button#approve {
  margin-top: 15px;
}
