doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="public/css/style.css")
    script(src="socket.io/socket.io.js")
    title Open Chat
  body 
    main
      div#welcome
        form
          input(placeholder="room name", required, type="text")
          button Enter Room
      div#call
        div#myStream
          video#myFace(autoPlay, playsinline, width="400", height="400")
          button#mute Mute
          button#camera Turn Camera Off
          select#cameras
    script(async src="public/js/app.js")